h1{
    color:green;
    font-family: "Arial";
    text-align: center;
    font-size: 50px;
}


body{
    font-family: "Arial",serif;
    text-align: center;
    font-weight: 500,550;
    background-size: 100px 100px;
    background-color:rgba(255,255,255,0.8);
    background-blend-mode:lighten;
    background-image: url(go.jpg);
}

.linkinpage{
    list-style: none;
    text-align: center;
    margin-left: -38px;
}

.imgctg{
    font-size: 10px;
    font-weight: 700;
}

.imgsummary{
    font-weight: 500;
    color: rgb(35, 20, 248);
    text-decoration: underline;     
    font-size: small;
}






